@font-face {
    font-family: 'taipei';
    src: url('fonts/taipei.woff') format("woff"),
           url('fonts/taipei.ttf') format("truetype"),
           url('fonts/taipei.eot') format("embedded-opentype");
}
@font-face {
    font-family: 'mamelon';
    src: url('fonts/mamelon.woff') format("woff"),
           url('fonts/mamelon.ttf') format("truetype"),
           url('fonts/mamelon.eot') format("embedded-opentype");
}

body {
    background: linear-gradient(#ffffffaa, #ffffffaa), url(results.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: 'taipei', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    font-size:50px;
    text-align: center;
}

h3{
    font-family: 'taipei', sans-serif;
    padding-top: 0;
    font-size:30px;
}
h4{
    font-family: 'taipei', sans-serif;
    padding-top: 0;
    font-size:25px;
}

p{
    font-family: 'taipei', sans-serif;
    padding-top: 0;
    font-size:20px;
}